<a href="https://colab.research.google.com/github/dringtech/index-of-transport-accessibility/blob/main/index_of_travel_geojson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import os
import pandas as pd
import matplotlib.cm as cm
import matplotlib.colors as colors
import zipfile
import json

In [85]:
os.chdir('/content/drive/MyDrive/index-of-transport-accessibility')

In [86]:
with zipfile.ZipFile('geojson/msoa.geojsonl.zip') as zf:
  zf.extractall(path = 'geojson')

In [88]:
df = pd.read_csv('accessibility_index.csv')
df = df.set_index(['msoa'])
# df = df.drop('msoa', axis='columns')
df['index-of-transport-accessibility'] = df['index-of-transport-accessibility'].astype(float)
c = (df['index-of-transport-accessibility'] / df['index-of-transport-accessibility'].max()).apply(cm.hot).apply(colors.rgb2hex)
c.name = 'c'
df = df.join(c)

In [89]:
df

           index-of-transport-accessibility        c
msoa
E02000984                             570.0  #ff9000
E02000985                             601.0  #ffa500
E02000986                             644.0  #ffc200
E02000987                             745.0  #ffff0b
E02000988                             715.0  #fff400
...                                     ...      ...
E02006916                             805.0  #ffff4a
E02006917                             808.0  #ffff4e
E02006932                             489.0  #ff5900
E02006933                             359.0  #ff0000
E02006934                             367.0  #ff0500

[1956 rows x 2 columns]

In [90]:
collection = []
with open('geojson/msoa.geojsonl.json') as f:
  for line in f.readlines():
    layer = json.loads(line)
    try:
      iota = df.at[layer['properties']['msoa11cd'], 'index-of-transport-accessibility']
      c = df.at[layer['properties']['msoa11cd'], 'c']
      layer['properties']['iota'] = iota
      layer['properties']['c'] = c
      collection.append(layer)
    except:
      continue

In [91]:
geojson = {
    'type': 'FeatureCollection',
    'features': collection
}

In [92]:
with open('iota.geojson', 'w') as f:
  f.write(json.dumps(geojson))

'#440256'